In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
pd.

In [2]:
df = pd.read_csv('telco_churn.csv')

NameError: name 'pd' is not defined

In [3]:
dictdf = pd.DataFrame.from_dict(tempdict)

NameError: name 'pd' is not defined

In [4]:
df.head(10)

NameError: name 'df' is not defined

In [5]:
dictdf.head()

NameError: name 'dictdf' is not defined

In [6]:
df.tail(15)

NameError: name 'df' is not defined

In [7]:
df.columns

NameError: name 'df' is not defined

In [8]:
df.dtypes

NameError: name 'df' is not defined

In [9]:
df.describe()

NameError: name 'df' is not defined

In [10]:
df.describe(include='object')

NameError: name 'df' is not defined

In [11]:
df.State

NameError: name 'df' is not defined

In [12]:
df['International plan']

NameError: name 'df' is not defined

In [13]:
df[['State', 'International plan']]

NameError: name 'df' is not defined

In [14]:
df.Churn.unique()

NameError: name 'df' is not defined

In [15]:
df.head()

NameError: name 'df' is not defined

In [16]:
df[df['International plan']=='No']

NameError: name 'df' is not defined

In [17]:
df[(df['International plan']=='No') & (df['Churn']==True)]

NameError: name 'df' is not defined

In [18]:
df.iloc[14]

NameError: name 'df' is not defined

In [19]:
df.iloc[14,-1]

NameError: name 'df' is not defined

In [20]:
df.iloc[22:33]

NameError: name 'df' is not defined

In [21]:
state = df.copy()
state.set_index('State', inplace=True)

NameError: name 'df' is not defined

In [22]:
state.head()

NameError: name 'state' is not defined

In [23]:
state.loc['OH']

NameError: name 'state' is not defined

In [24]:
df.isnull().sum()

NameError: name 'df' is not defined

In [25]:
df.dropna(inplace=True)

NameError: name 'df' is not defined

In [26]:
df.isnull().sum()

NameError: name 'df' is not defined

In [27]:
df.drop('Area code', axis=1)

NameError: name 'df' is not defined

In [28]:
df['New Column'] = df['Total night minutes'] + df['Total intl minutes']

NameError: name 'df' is not defined

In [29]:
df.head()

NameError: name 'df' is not defined

In [30]:
df['New Column'] = 100

NameError: name 'df' is not defined

In [31]:
df.head()

NameError: name 'df' is not defined

In [32]:
df.iloc[0,-1] = 10

NameError: name 'df' is not defined

In [33]:
df.head()

NameError: name 'df' is not defined

In [34]:
df['Churn Binary'] = df['Churn'].apply(lambda x: 1 if x==True else 0)

NameError: name 'df' is not defined

In [35]:
df[df['Churn']==True].head()

NameError: name 'df' is not defined

In [36]:
df.to_csv('output.csv')

NameError: name 'df' is not defined

In [37]:
df.to_json()

NameError: name 'df' is not defined

In [38]:
del df

NameError: name 'df' is not defined